<%= form_for(@healthcare_professional) do |f| %>
  <% if @healthcare_professional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@healthcare_professional.errors.count, "error") %> prohibited this healthcare_professional from being saved:</h2>

      <ul>
      <% @healthcare_professional.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :speciality %><br>
    <%= f.text_field :speciality %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
